@tailwind base;
@tailwind components;
@tailwind utilities;

$mainColor: #0dad65;

html, body, #root {
  height: 100%;
}

body {
  // margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}




p.confirmation {
  color: darken($mainColor, 10%);
}

form {
  width: 400px;
  margin: 0 auto;
  > * {
    padding: 4px 10px;
    margin-bottom: 4px;
  }
  button {
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    background: $mainColor;
    color: #fff;
    font-size: 1rem;
  }
}

.modal {
  position: absolute;
  z-index: 100;
  top: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 400px;
  padding: 35px 20px;
  background: #777;
  color: #fff;
  text-align: center;
  display: none;
  &.show {
    display: initial;
  }
}